* {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

.canvas {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas-img {
    margin-top: 20px;
    max-height: 400px;
    display: none;
}
.palette {
    width: 500px;
    height: 200px;
    background-color: #ccc;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 2px;
    padding: 2px;
}



